---
title: Galerie
layout: default
---


<script type="text/javascript" src="fancybox/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />

<script type="text/javascript">
    $(document).ready(function() {
        /*
         *  Simple image gallery. Uses default settings
         */

        $('.gallery-image').fancybox();
    });
</script>

<div class="container main-content">
    <div class="row row-space">
        {% for image in site.static_files %}
            {% if image.path contains 'gallery/original' %}
            <div class="col-sm-4">
                <a class="gallery-image" href="{{site.siterootmedia}}/gallery/medium/{{ image.path | split: '/' | last }}"
                data-fancybox-group="gallery">
                <img class="img-responsive img-rounded" src="{{site.siterootmedia}}/gallery/small/{{ image.path | split: '/' | last }}" />
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>